extends ../layout

block content
	.main-section
		.container
			.auth-tabs
				ul.nav.nav-tabs#auth-tabs
					li.col-lg-6.full-tab.active
						a(href='#login') Login
					li.col-lg-6.full-tab
						a(href='#register') Register
				.tab-content
					.tab-pane#login.active
						form(method='post', action='/login')
							.form-group
								input.form-control(type='text', name='email', placeholder='Email')
							.form-group								
								input.form-control(type='password', name='password', placeholder='Password')
							- if (messages)
								each message in messages
									.alert.alert-danger
										button.close(type='button', data-dismiss='alert') ×
										| #{message}
							.form-group
								input.btn.btn-primary.btn-block(type='submit', value='Login')
					.tab-pane#register
						form(method='post', action='/register')
							.form-group
								input.form-control(type='text', name='email', placeholder='Email')
							.form-group	
								input.form-control(type='password', name='password', placeholder='Password')
							.form-group
								input.btn.btn-primary.btn-block(type='submit', value='Register')