extends ../layout

block content
	.main-section.full-h
		.container
			#user-account
				ul.nav.nav-tabs#profile-tab
					li.active
						a(href='#profile') Profile
					li
						a(href='#listing') Your Listings
					li
						a(href='#account') Account
				.tab-content
					.tab-pane.active#profile
						#left
							h2.name Nathan Tran
							img.profile-pic(src='http://placehold.it/247x180&text=Thumbnail')
							p.profile Landlord
							p Sydney, NSW Australia
							p.profile Member since: April 2013
							p.profile Rating: 1/5

						#right

					.tab-pane#listing
						h2.name Properties

						p blah lol

					.tab-pane#account
						h2.name Account Details