extends ../layout

block content
	.main-section.edit-property
		.col-lg-2.edit-property-navbar
			ul.list-unstyled#profile-tab
				li.nav-item.active
					a(href='#edit-description')
						.nav-title
							i.icon-home.icon-2x
							span &nbsp;Description
						span.nav-icon-complete
							i.icon-check-sign.icon-2x
				li.nav-item
					a(href='#edit-photos')
						.nav-title
							i.icon-camera-retro.icon-2x
							span &nbsp;Photos
				li.nav-item
					a(href='#edit-details')
						.nav-title
							i.icon-edit.icon-2x
							span &nbsp;Details
		.col-lg-10.edit-property-content
			div(ng-controller='PropertyUpdateCtrl')
				form.form-horizontal(ng-init='propertyId="#{property._id}"', ng-submit='edit(propertyId)')
					.tab-content
						.tab-pane.active#edit-description
							.row
								.col-lg-12
									.col-lg-6
										.form-group
											label Description
											input.form-control(type='text', ng-model='property.title', name='title', placeholder='Title', value=property.title)
										.form-group
											textarea.form-control(ng-model='property.description', name='description', placeholder='Write a short description...', rows='5')
												| #{property.description}
						.tab-pane#edit-photos
							.photo-upload(data-drop='upload', data-property-id='#{property._id}')
								div.btn.btn-default.add-photo-btn Add Photo
								ul.list-unstyled.photo-list
									if property.photos
										each photo in property.photos
											li.photo-item.col-lg-4
												img(src=photo)
						.tab-pane#edit-details
							.row
								.form-group.col-lg-12
									.col-lg-4
										label Bedrooms 
										select.form-control(ng-model='property.bedrooms', name='bedrooms')
											option(value='0', selected=property.bedrooms==0) Studio
											option(value='1', selected=property.bedrooms==1)	1
											option(value='2', selected=property.bedrooms==2) 2
											option(value='3', selected=property.bedrooms==3) 3
									.col-lg-4		
										label Bathrooms 
										select.form-control(ng-model='property.bathrooms', name='bathrooms')
											option(value='0', selected=property.bathrooms==0) 0
											option(value='1', selected=property.bathrooms==1)	1
											option(value='2', selected=property.bathrooms==2) 2
											option(value='3', selected=property.bathrooms==3) 3
									.col-lg-4		
										label Car spaces 
										select.form-control(ng-model='property.carspaces', name='carspaces')
											option(value='0', selected=property.carspaces==0) 0
											option(value='1', selected=property.carspaces==1)	1
											option(value='2', selected=property.carspaces==2) 2
											option(value='3', selected=property.carspaces==3) 3
							.row
								.form-group.col-lg-12
									.col-lg-4
										input.btn.btn-accent.btn-main-search(type='submit', value='List!')