extends ../layout

block content
	.main-section
		.container.property-result
			h1 Properties
			- if (properties)
				each property in properties
					.row
						.col-lg-8
							h2: a(href='properties/' + property._id)= property.address + ', ' + property.suburb
						.col-lg-4
							h3.price= '$' + property.price
					.row
						.col-lg-4
							img(src='http://placehold.it/247x180&text=Thumbnail')
						.col-lg-8
							span
								| #{property.propertyType} 
							span
								| beds #{property.bedrooms} 
							span
								| baths #{property.bathrooms} 
							span
								| carspaces #{property.carspaces} 
							h3= property.title
							p= property.description
				- if (properties.length === 0)
					p No results :(