extends ../layout

block content
	.main-section
		.container
			#list-select
				h2 I am looking to
				.row
					.col-lg-6
						a.btn.btn-massive.btn-large.btn-block.prop(href='#', onclick='toggleVisibility(\'sell\');') Sell 
					.col-lg-6
						a.btn.btn-humongous.btn-large.btn-block.prop(href='#', onclick='toggleVisibility(\'lease\');') Lease

			#sell.section 
				p Nothing

			#space

			#lease.section
				div(ng-controller='PropertyCreateCtrl')
					form.form-horizontal(ng-submit='create()')
						.row
							.col-lg-12
								.form-group.btn-group.group-pos.data-toggle-buttons
									label.btn.btn-primary.custom-btn
										input#option1(type='radio', ng-model='property.propertyType', name='propertyType', value='house', btn-radio)
										| House
									label.btn.btn-primary.custom-btn
										input#option2(type='radio', ng-model='property.propertyType', name='propertyType', value='apartment', btn-radio)
										| Apartment
									label.btn.btn-primary.custom-btn
										input#option3(type='radio', ng-model='property.propertyType', name='propertyType', value='townhouse', btn-radio)
										| Townhouse
									label.btn.btn-primary.custom-btn
										select.form-control(ng-model='property.propertyType', name='propertyType')											
											option(value='villa') Villa
											option(value='terrace')	Terrace
											option(value='building')	Building
											option(value='other')	Other
						.row
							.col-lg-12							
								//- label Rent type 
								.form-group.btn-group.group-pos.data-toggle-buttons
									label.btn.btn-primary.custom-btn
										input#option1(type='radio', ng-model='property.rentType', name='rentType', value='entire', btn-radio)
										| Entire property
									label.btn.btn-primary.custom-btn
										input#option2(type='radio', ng-model='property.rentType', name='rentType', value='part', btn-radio)
										| Part property
									label.btn.btn-primary.custom-btn
										input#option2(type='radio', ng-model='property.rentType', name='rentType', value='private', btn-radio)
										| Private room
									label.btn.btn-primary.custom-btn
										input#option3(type='radio', ng-model='property.rentType', name='rentType', value='shared', btn-radio)
										| Shared room
						.row
							.col-lg-5
								.form-group
									input.form-control(type='text', ng-model='property.address', name='address', placeholder='Address')
							.col-lg-3
								.form-group
									input.form-control(type='text', ng-model='property.suburb', name='suburb', placeholder='Suburb')
						.row
							.col-lg-8
								.form-group
									input.form-control(type='text', ng-model='property.price', name='price', placeholder='Price')
						.row
							.col-lg-6
								.form-group
									.alert.alert-danger(ng-repeat='error in errors')
										| {{ error }}

						.row
							.col-lg-4
								.form-group
									input.btn.btn-accent.btn-main-search(type='submit', value='List!')