extends ../layout

block content
	.main-section
		.container
			div(ng-controller='PropertySearchCtrl')
				.search-tabs.search-bar
					ul#search-tabs.nav.nav-tabs
							li
								a(href='#search-buy') Buy
							li.active
								a(href='#search-rent') Rent
					.tab-content
						#search-buy.tab-pane

						#search-rent.tab-pane.active
							form(ng-submit='search()')
								.form-group.input-group.col-12
									input.form-control.typeahead(type='text', ng-model='criteria.suburb', name='suburb', id='search', autocomplete='off', placeholder='Enter suburb')
									span.input-group-btn
										input.btn.btn-accent.btn-main-search(type='submit', value='Search')
								.form-group.col-12
									.col-lg-3.col-6
										label Property Type
										.btn-group.btn-block
											button.btn.btn-default.btn-block.dropdown-toggle(data-toggle='dropdown')
												span(ng-model='criteria.propertyType', checklist-label);
											ul.dropdown-menu.dropdown-menu-checklist
												li
													label
														input(type='checkbox', ng-model='criteria.propertyType', name='propertyType', value='', checklist-clear)
														|  Any								
												li
													label
														input(type='checkbox', ng-model='criteria.propertyType', name='propertyType', value='house', checklist-item)
														|  House
												li
													label
														input(type='checkbox', ng-model='criteria.propertyType', name='propertyType', value='apartment', checklist-item)
														|  Apartment
												li
													label
														input(type='checkbox', ng-model='criteria.propertyType', name='propertyType', value='villa', checklist-item)
														|  Villa
												li
													label
														input(type='checkbox', ng-model='criteria.propertyType', name='propertyType', value='terrace', checklist-item)
														|  Terrace
												li
													label
														input(type='checkbox', ng-model='criteria.propertyType', name='propertyType', value='building', checklist-item)
														|  Building
												li
													label
														input(type='checkbox', ng-model='criteria.propertyType', name='propertyType', value='other', checklist-item)
														|  Other
									.col-lg-3.col-6
										label Rent Type
										.btn-group.btn-block
											button.btn.btn-default.btn-block.dropdown-toggle(data-toggle='dropdown')
												span(ng-model='criteria.rentType', checklist-label);
											ul.dropdown-menu.dropdown-menu-checklist
												li
													label
														input(type='checkbox', ng-model='criteria.rentType', name='rentType', value='', checklist-clear)
														|  Any
												li
													label
														input(type='checkbox', ng-model='criteria.rentType', name='rentType', value='entire', checklist-item)
														|  Entire Property
												li
													label
														input(type='checkbox', ng-model='criteria.rentType', name='rentType', value='part', checklist-item)
														|  Part Property														
												li
													label
														input(type='checkbox', ng-model='criteria.rentType', name='rentType', value='private', checklist-item)
														|  Private Room
												li
													label
														input(type='checkbox', ng-model='criteria.rentType', name='rentType', value='shared', checklist-item)
														|  Shared Room
									.col-lg-3.col-6
										label Bedrooms 
										select.form-control(ng-model='criteria.bedrooms', name='bedrooms')
											option(value='any') Any
											option(value='0') Studio
											option(value='1') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4') 4
											option(value='5+') 5+
									.col-lg-3.col-6
										label Price 
										input.form-control(type='text', ng-model='criteria.price.max', name='price[max]', placeholder='Max')
				.listings(ng-controller='PropertyGetCtrl')										
					.search-listing(ng-repeat='result in properties', ng-cloak)
						.row
							.col-lg-4
								img(src='{{result.photos[0]}}')
							.col-lg-8
								.row
									.col-lg-12
										span.search-listing-address
											a(href='properties/{{result._id}}', ng-click='get(result._id)', prevent-default) {{result.address}}, {{result.suburb}}		
										span.pull-right.search-listing-price
											${{result.price}}
								.row
									.col-lg-12
										span.label.label-default
											| {{result.propertyType}}
										span
											|  beds {{result.bedrooms}} 
										span
											| baths {{result.bathrooms}} 
										span
											| carspaces {{result.carspaces}} 
										h3 {{result.title}}
										p {{result.description}}
						//- .search-result-header
						//- 	.row
						//- 		.col-lg-8
						//- 			h2: a(href='properties/{{result._id}}', ng-click='get(result._id)', prevent-default) {{result.address}}, {{result.suburb}}
						//- 		.col-lg-4
						//- 			h3.price ${{result.price}}
						//- .row
						//- 	.col-lg-4
						//- 		img(src='{{result.photos[0]}}')

						//- 	.col-lg-8
						//- 		span
						//- 			| {{result.propertyType}} 
						//- 		span
						//- 			| beds {{result.bedrooms}} 
						//- 		span
						//- 			| baths {{result.bathrooms}} 
						//- 		span
						//- 			| carspaces {{result.carspaces}} 
						//- 		h3 {{result.title}}
						//- 		p {{result.description}}
					.modal.fade.in#myModal
						.modal-dialog
							.modal-content
								.modal-header
									{{property.address}}, {{property.suburb}}
								.modal-body
									| {{property.title}}
									| {{property.description}}
								.modal-footer
									span
										| {{property.propertyType}} 
									span
										| beds {{property.bedrooms}} 
									span
										| baths {{property.bathrooms}} 
									span
										| carspaces {{property.carspaces}} 

block bottom
	include ../../views/layouts/main-description