<li class="photo-item col-lg-4">
	<img src="http://placehold.it/1000x1000&text=Thumbnail">
	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%">
		</div>
	</div>
</li>