.photo-list li {
	display: inline;
	margin-bottom: 30px;
	width: 25%;
}
.photo-list li img {
	width: 100%;
}
.progress {
	height: 4px;
	border-radius: 0;
}
#drop-anywhere:after {
	content: "HI GUYS";
	color: #fff;
}