html,
body {
  height: 100%;
}

body {
  background-color: #f7f7f7;
  font-family: Awesome;
}

@font-face {
  font-family: Nexa_Bold;
  src: url("fonts/Nexa_Bold.otf");
}

@font-face {
  font-family: Nexa_Light;
  src: url("fonts/Nexa_Light.otf");
}

@font-face {
  font-family: Awesome;
  src: url("fonts/Moire-Regular.ttf");
}

@font-face {
  font-family: Awesome-Light;
  src: url("fonts/Moire-Light.ttf");
}

.section {
  display: none;
}

/* footer */

.footer {
  background-color: #333;
  height: 110px;
  color: #fff;
}

.footer-brand {
  font-family: Awesome;
}

.main-section {
  padding-top: 50px;
  min-height: 100%;
}

.auth-tabs {
  max-width: 330px;
  margin: 0 auto;
  margin-top: 150px;
}

li.full-tab {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

li.full-tab.active>a,
li.full-tab.active>a:hover,
li.full-tab.active>a:focus {
  margin-right: 0;
  margin-left: 0;
  border-color: #fff;
}

.property-result {
  max-width: 850px;
}

.twitter-typeahead {
  width: 100%;
}

.btn-main-search {
  width: 125px;
}

.search-bar {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
}

/* navbar */

.navbar {
  background-color: #333;
  border-color: #333;
}

.navbar-default .navbar-nav>li>a {
  color: #C0C0C0;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

.navbar-brand>.buy,
.footer-brand>.buy {
  color: #fff;
  font-weight: bold;
}

.navbar-brand>.and,
.footer-brand>.and {
  color: #fff;
}

.navbar-brand>.lease,
.footer-brand>.lease {
  color: #FF8646;
  font-weight: bold;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #1F1F1F;
}

.navbar-default .navbar-toggle {
  border: 1px solid #333;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #1F1F1F;
  border: 1px solid #1F1F1F;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #181818;
}

/* buttons */

/* Used in place of data-toggle="buttons" attribute
   to hide the radios and checkboxes
   This is used instead because the default bootstrap js doesn't work with angular models
 */

.btn-group.data-toggle-buttons>.btn>input[type="radio"],
.btn-group.data-toggle-buttons>.btn>input[type="checkbox"] {
  display: none;
}

.btn-primary {
  color: #fff;
  background-color: #41BBE3;
  border-color: #41BBE3;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #29A4CC;
  border-color: #29A4CC;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #2894B8;
  border-color: #2894B8;
}

.btn-accent {
  color: #fff;
  background-color: #FF6863;
  border-color: #FF6863;
}

.btn-accent:hover,
.btn-accent:focus {
  color: #fff;
  background-color: #F35A55;
  border-color: #F35A55;
}

.btn-accent:active,
.btn-accent.active {
  color: #fff;
  background-color: #E55753;
  border-color: #E55753;
}

/* new property */

#list-select {
  margin: 0 auto;
  width: 350px;
  text-align: center;
  font-family: Awesome;
  margin-top: 100px;
}

#list-select h2 {
  font-family: verdana;
  color: #444;
  padding-bottom: 15px;
}

.btn-massive {
  margin-top: 2px;
  margin-left: 5px;
  border-radius: 4px;
  border: none;
  background: #FFBA40;
  color: #FFF;
  box-shadow: 0 3px #DB9E31;
  font-size: 20px;
  font-family: Awesome;
  -webkit-transition: none;
  transition: none;
}

.btn-massive: hover {
  background: #E6970C;
}

.btn-humongous {
  margin-top: 2px;
  margin-left: 5px;
  border-radius: 4px;
  border: none;
  background: #41BBE3;
  color: #FFF;
  box-shadow: 0 3px #3699B9;
  font-size: 20px;
  font-family: Awesome;
  -webkit-transition: none;
  transition: none;
}

a.prop {
  margin-right: 20px;
}

#space {
  height: 5px;
  margin-bottom: 100px;
}

.custom-btn {
  height: 70px;
  font-size: 20px;
  padding: 20px 30px 20px;
}

.group-pos {
  margin: 10px 20px 10px 0px;
}

#lease ul li a {
  font-size: 18px;
  padding: 10px 40px 10px;
}

#lease .tab-content {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* main description */

.main-description {
  background-color: #FFBA40;
  height: 400px;
}

.main-description .container {
  margin: 0 auto;
  padding: 0 90px;
}

.main-description>.container>.left-content {
  padding-top: 40px;
  float: left;
  margin-left: 20px;
}

.main-description>.container>.right-content {
  width: 580px;
  background: url("../images/house.png") no-repeat;
  height: 420px;
  float: left;
  margin-top: -20px;
}

.main-description h1.bot {
  font-size: 40px;
  color: #1a1a1a;
  margin-top: 20px;
  line-height: 1.0;
  font-family: Nexa_Bold;
}

.main-description h2.bot {
  font-size: 36px;
  color: #4a4a4a;
  margin: 0;
  line-height: 1.5;
  font-family: Nexa_Bold;
}

.main-description p.bot {
  font-size: 20px;
  color: #222;
  margin: 0;
  line-height: 1.5;
  font-family: Nexa_Bold;
}

/* profile */

#user-account {
  margin-top: 80px;
  margin-bottom: 0px;
}

#user-account ul li a {
  font-size: 24px;
  padding: 10px 40px 10px;
}

#user-account .tab-content {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#user-account #tab li:hover {
  background: #fff;
}

#user-account #tab li a {
  font-family: Awesome;
  font-size: 28px;
  color: #333;
  padding: 15px 20px 10px 20px;
}

#user-account #tab li a:visited {
  color: #333;
}

#user-account .tab-pane {
  margin-left: 20px;
  overflow: hidden;
}

#user-account h2.name {
  margin: 15px 0px;
  color: #333;
}

#user-account p {
  font-family: Awesome;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #333;
}

#user-account img.profile-pic {
  margin-top: 5px;
  width: 95%;
  height: 95%;
  margin-bottom: 10px;
  border: 1px solid #333;
}

#user-account .tab-pane #left {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

#user-account .tab-pane #right {
  width: 675px;
  margin-left: 15px;
  float: left;
}

/* Edit Property */

.edit-property {
  height: 100%;
}

.edit-property>.row {
  height: 100%;
}

.edit-property-navbar {
  background-color: #EEEEEE;
  height: 100%;
  box-shadow: #cccac4 0 0 0 1px inset, #cccac4 0 0 5px;
  padding-left: 0;
}

.edit-property-navbar .nav-item {
  background-color: #EEEEEE;
  margin-right: -14px;
  position: relative;
  -webkit-transition: background-color 0.15s, color 0.15s;
  transition: background-color 0.15s, color 0.15s;
  box-shadow: rgba(255,255,255,0.5) 0 1px 0 0 inset,rgba(0,0,0,0.1) 0 -1px 0 0 inset;
}

.edit-property-navbar .nav-item:hover {
  background-color: #F7F7F7;
}

.edit-property-navbar .nav-item.active {
  background-color: #29A4CC;
}

.edit-property-navbar .nav-item:after {
  position: absolute;
  content: " ";
  top: 50%;
  right: -21px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-top-width: 40px;
  border-bottom-width: 40px;
  border-left-width: 18px;
  margin-top: -40px;
  -webkit-transition: border-color 0.15s;
  transition: border-color 0.15s;
}

.edit-property-navbar .nav-item.active:after {
  border-left-color: #29A4CC;
}

.edit-property-navbar .nav-item a {
  color: #888888;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.edit-property-navbar .nav-item.active a,
.edit-property-navbar .nav-item.active:hover a {
  color: #fff;
}

.edit-property-navbar .nav-item:hover a {
  color: #575757;
}

.edit-property-navbar .nav-title {
  display: table;
  height: 80px;
  margin-left: 12px;
}

.edit-property-navbar .nav-title span {
  display: table-cell;
  vertical-align: middle;
}

.edit-property-navbar .nav-title i {
  display: table-cell;
  vertical-align: middle;
  width: 36px;
  text-align: center;
}

.edit-property-content {
  padding: 30px 40px 120px 40px;
  height: 100%;
  overflow: auto;
}

.edit-property-navbar .nav-icon-complete {
  float: right;
  position: relative;
  top: -55px;
  right: 15px;
  color: rgb(22, 196, 147);
}

.edit-property-navbar .nav-item.active .nav-icon-complete {
  color: white;
}

/* Search result */

.listings {
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  margin-bottom: 50px;
}

.search-listing {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 25px;
  background-color: #fff;
}

.search-listing img {
  width: 100%;
}

.search-listing-address {
  font-size: 1.5em;
  font-weight: bold;
}

.search-listing-price {
  font-size: 1.8em;
}