html,
body,
blockquote,
pre,
abbr,
acronym,
address,
code,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

@font-face {
  font-family: Nexa_Bold;
  src: url("fonts/Nexa_Bold.otf");
}

@font-face {
  font-family: Nexa_Light;
  src: url("fonts/Nexa_Light.otf");
}

@font-face {
  font-family: Awesome;
  src: url("fonts/Moire-Regular.ttf");
}

@font-face {
  font-family: Awesome-Light;
  src: url("fonts/Moire-Light.ttf");
}

html,
body {
  height: 100%;
}

body {
  background: #333;
}

a {
  text-decoration: none;
}

/* --- header --- */

.top-bar {
  background: #333;
  margin-bottom: 0;
}

.top-bar .menu {
  margin: 0;
  padding: 0;
}

.top-bar .menu a {
  float: left;
  margin-right: 15px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  line-height: 45px;
  font-family: Awesome-Light;
  font-size: 17px;
}

.top-bar-section li a:not(.button) {
  background: #333;
}

/* --- content --- */

.middle {
  background: #fff;
}

.content .wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content .wrapper .main-logo {
  height: 80px;
  width: 1000px;
  background: url("../images/buylease-logo.png") no-repeat;
  margin-top: 40px;
}

.twitter-typeahead {
  width: 100%;
}

.content .wrapper .search-bar  #search,
.content .wrapper .search-bar  .tt-hint {
  /*padding: 0 0 0 70px;*/
  margin-top: 5px;
  margin-bottom: 0;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  font-family: Awesome;
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  background: url("../images/search-house-icon.png") no-repeat;
  padding-left: 50px;
}

.content .wrapper .search-bar  #search:focus {
  background: url("../images/search-house-icon2.png") no-repeat;
  border-color: #FFB800;
  box-shadow: 0 0 5px #FFB61A;
}

.tt-dropdown-menu {
  width: 100%;
  background: white;
  border: 1px solid black;
}

.tt-is-under-cursor h4 {
  color: #E26022;
}

.content .wrapper .search-bar #submit {
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  background: #FAAA00;
  color: #FFF;
  box-shadow: 0 6px #DD8500;
  font-size: 20px;
  font-family: Awesome;
  -webkit-transition: none;
  transition: none;
}

.content .wrapper .search-bar #submit:hover {
  box-shadow: 0 4px #DD8500;
  top: 2px;
}

.content .wrapper .search-bar #submit:active {
  box-shadow: 0 0px #DD8500;
  top: 6px;
}

.content .line {
  height: 51px;
  width: 300px;
  position: absolute;
  margin-left: 40px;
  margin-top: 5px;
  background: url("../images/circle.png") no-repeat;
}

/* --- user account --- */

#user-account {
  margin-top: 30px;
  margin-bottom: 20px;
}

#user-account .tab-content {
  background: #e8e8e8;
}

#user-account #tab li:hover {
  background: #e8e8e8;
}

#user-account #tab li a {
  font-family: Awesome;
  font-size: 28px;
  color: #333;
  padding: 15px 20px 10px 20px;
}

#user-account #tab li a:visited {
  color: #333;
}

#user-account .tab-pane {
  margin-top: 20px;
  margin-left: 20px;
}

#user-account h2.name {
  margin: 0px;
  color: #333;
}

#user-account p.profile {
  font-family: Awesome;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #333;
}

#user-account p {
  font-family: Awesome;
  font-size: 16px;
  color: #000f41;
  margin-top: 0px;
}

#user-account img.profile-pic {
  margin-top: 5px;
  width: 95%;
  height: 95%;
  margin-bottom: 10px;
  border: 1px solid #333;
}

#user-account .tab-pane #left {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

#user-account .tab-pane #right {
  width: 675px;
  margin-left: 15px;
  float: left;
}

/* --- index ad -- */

.bottom {
  background: #e4bc00;
  height: 400px;
}

.bottom .content-bottom {
  margin: 0 auto;
  width: 1000px;
}

.bottom .content-bottom  #left-content {
  width: 400px;
  float: left;
  padding-top: 40px;
  padding-left: 15px;
}

.bottom .content-bottom  #right-content {
  width: 600px;
  float: right;
  background: url("../images/house.png") no-repeat;
  height: 420px;
  margin-top: -20px;
}

.bottom h1.bot {
  font-size: 40px;
  color: #1a1a1a;
  margin-top: 20px;
  line-height: 1.0;
  font-family: Nexa_Bold;
}

.bottom h2.bot {
  font-size: 36px;
  color: #4a4a4a;
  margin: 0;
  line-height: 1.5;
  font-family: Nexa_Bold;
}

.bottom p.bot {
  font-size: 20px;
  color: #222;
  margin: 0;
  line-height: 1.5;
  font-family: Nexa_Bold;
}

/* --- footer --- */

.footer {
  background: #333;
}

.footer  .wrapper {
  width: 1000px;
  margin: 0 auto;
}

.footer .footer-content {
  padding-top: 25px;
}

.footer .footer-content p {
  color: #fff;
  font-family: Awesome;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.footer .footer-content h1 {
  color: #fff;
  font-family: Nexa_Bold;
  font-size: 38px;
}

.footer .footer-content h1 .mid {
  color: #fff;
  font-family: Awesome-Light;
  font-size: 34px;
}

.footer .footer-content h1 .last {
  color: #e4bc00;
  font-family: Nexa_Bold;
  font-size: 38px;
}

.price {
  float: right;
  padding-top: 5px;
}

.inline-list li {
  margin-right: 5px;
  display: inline-block;
}