/** Minimal stand-alone css for dropdownchecklist support
    We highly recommend using JQuery ThemeRoller instead  
*/

.ui-dropdownchecklist {
  font-size: medium;
  color: #333;
  margin-right: 15px;
  font-family: Awesome;
  font-size: 12px;
}

.ui-dropdownchecklist-selector {
  height: 20px;
  border: 1px solid #ddd;
  background: #fff;
}

.ui-state-hover,
.ui-state-active {
  border-color: #5794bf;
}

.ui-dropdownchecklist-dropcontainer {
  background-color: #fff;
  border: 1px solid #e9a400;
}

.ui-state-hover {
  background-color: #fff;
  border-color: #e9a400;
}

.ui-state-disabled label {
  color: #ccc;
}

.ui-dropdownchecklist-group {
  font-weight: bold;
  font-style: italic;
}

.ui-dropdownchecklist-indent {
  padding-left: 7px;
}

/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */

.ui-dropdownchecklist-selector-wrapper {
  vertical-align: middle;
  font-size: 0px;
}

.ui-dropdownchecklist-selector {
  padding: 1px 2px 2px 2px;
  font-size: 0px;
}

.ui-dropdownchecklist-text {
  font-size: medium;
  /* line-height: 20px; */
}

.ui-dropdownchecklist-group {
  padding: 1px 2px 2px 2px;
}