doctype 5
html(ng-app='buynlease')
	head
		title BuynLease
		include layouts/head
	body
		include layouts/navbar
		
		block content
		block bottom

		//- include layouts/footer
		script.
			//- localStorage.clear();
			// $('.typeahead').typeahead({
			// 	name: 'suburbs',
			// 	prefetch: { url: '/data/suburbs.json' },
			// 	//- remote: { url: '/data/suburbs.json' },
			// 	template: '<h4>{{value}}, {{state}} {{postcode}}</h4>',
			// 	engine: Hogan
			// });
			// init global variable for S3 upload
			// don't like globals but that's what the s3 component does :(
			var S3;
			require('boot');