head
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title= title
	//- link(rel='stylesheet', href='/styles/style.css')
	script(src='/vendor/components/modernizr/modernizr.js')
	script(src='/vendor/components/jquery/jquery.min.js')
	script(src='/vendor/components/bootstrap/dist/js/bootstrap.min.js')
	link(rel='stylesheet', href='/vendor/components/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
	// script(src='/vendor/components/typeahead.js/dist/typeahead.min.js')
	// script(src='/vendor/components/hogan/web/builds/2.0.0/hogan-2.0.0.min.js')
	script(src='/vendor/dropzone/dropzone.min.js')
	link(rel='stylesheet', href='/vendor/dropzone/css/dropzone.css')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
	script(src='/build/build.js')
	link(rel='stylesheet', href='/build/build.css')
	link(rel='stylesheet', href='/styles/main.css')
	// Angular App includes
	script(src='/app/app.js')
	// Inline scripts - should move them eventually
	script.
		$(document).ready(function() {
			// tabs
			$('#profile-tab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
			$('#auth-tabs a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
			$('#search-tabs a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
			// dropdowns - // Make it so that clicking on checkboxes doesn't close the menu
			$('.dropdown-menu').on('click', function (e) {
				if($(this).hasClass('dropdown-menu-checklist')){
					e.stopPropagation();
				}
			});
			// $('input[name="email"]').on('keyup', function (event) {
			// 		var emailRegex = /^(?:[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+\.)*[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+@(?:(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!\.)){0,61}[a-zA-Z0-9]?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!$)){0,61}[a-zA-Z0-9]?)|(?:\[(?:(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\]))$/;
			// 		var parent = $(this).parent();
			// 		if (this.value.match(emailRegex)) {
			// 			parent.removeClass('has-error').addClass('has-success');
			// 		}	else {
			// 			parent.removeClass('has-success').addClass('has-error');
			// 		}
			// });
			// [].forEach.call(document.getElementsByTagName('input'), function (input) {
			// 	input.addEventListener('blur', function (event) {
			// 		this.parentNode.classList.add('has-success');
			// 	});
			// });
		});
		function toggleVisibility(newSection) {
			$(".section").not("#" + newSection).hide();			
			$("#" + newSection).slideDown(600);
			$("#list-select").hide();
		}