.main-description
	.container
		.left-content
			h1.bot ADVERTISE NOW
			h2.bot FREE OF CHARGE
			p.bot BuyandLease aims at creating a unique
			p.bot platform for renters and landlords alike
			p.bot to freely exchange property.
		.right-content.hidden-xs.hidden-sm