nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	.navbar-header
		button.navbar-toggle(data-toggle='collapse', data-target='.navbar-ex1-collapse')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/')
			span.buy Buy
			span.and and
			span.lease Lease
	.collapse.navbar-collapse.navbar-ex1-collapse
		ul.nav.navbar-nav
			li
				a(href='/properties/new') List your property
		ul.nav.navbar-nav.navbar-right
			- if (currentUser)
				li
					a.menu(href='/users/' + currentUser._id) #{currentUser.email}
				li
					a(href='/logout') Log out
			- else
				li 
					a(href='/login') Log in